name: Python CI with Pytest

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  built-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      - name: Run tests with pytest
        run: |
          pytest --junitxml=./reports/results.xml

      - name: Upload test report
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: testReport
          path: reports/results.xml

  deploy:
    needs: built-and-test
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy application
        run: |
          echo "Deploying application..."

      - name: Send email after deploy
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 587
          username: ${{ secrets.GMAIL_USERNAME }}
          password: ${{ secrets.GMAIL_PASSWORD }}
          subject: "Deploy Successful - GitHub Actions with attachment"
          body: |
            Le déploiement a été effectué avec succès !
            Repository : ${{ github.repository }}
            Branche    : ${{ github.ref_name }}
            Commit     : ${{ github.sha }}
            Auteur     : ${{ github.actor }}
          to: "tlilisoumaya255@gmail.com"
          cc: "chokri.gammoudi@gmail.com"
          from: "GitHub Actions"
          attachments: "reports/results.xml"
